<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="domain" value="http://ichijou.org"/>
    <add key="name" value="Vectorbooru"/>
    <add key="startPageIndex" value="1"/>
    <add key="numberOfThreads" value="3"/>
    <add key="segmentDepthForId" value="4"/>
    <add key="user-agent" value="Mozilla/5.0 (Windows NT 5.1) AppleWebKit/536.5 (KHTML, like Gecko) Chrome/19.0.1084.56 Safari/536.5"/>
    <add key="checkTags" value="%3Cimg%20%20class%3D%22preview%20%20%20%20%22"/>
    <add key="accessPage" value="/post?page="/>
    <add key="postTags" value="%26commit%3DSearch%26tags%3D"/>
    <add key="pageNumber_xpath" value="//div%5B@class%3D%27pagination%27%5D/a"/>
    <add key="postLinks_xpath" value="//span%5B@class%3D%27thumb%20blacklisted%27%5D/a"/>
    <add key="imageContainer_xpath" value="//div%5B@class%3D%27content%27%5D/div/img%5B@id%3D%27image%27%5D"/>
    <add key="filepathJoiner" value=""/>
    <add key="delayInConnections" value="false"/>
    <add key="type" value="danbooru"/>
  </appSettings>
</configuration>
<!--<hosts>
    <server id="0" name="Vectorbooru" domain="http://ichijou.org" startPageIndex="1" numberOfThreads="3" segmentdepthForId="4" useragent="Mozilla/5.0 (Windows NT 5.1) AppleWebKit/536.5 (KHTML, like Gecko) Chrome/19.0.1084.56 Safari/536.5" checkTags="%3Cimg%20%20class%3D%5C%22preview%20%20%20%20%5C%22" accessPage="/post?page=" postTags="%26commit%3DSearch%26tags%3D" filepathJoiner="" delayInConnections="false">
      <xpath id="0" name="pageNumber" string="//div%5B@class%3D%27pagination%27%5D/a"/>
      <xpath id="1" name="postLinks" string="//span%5B@class%3D%27thumb%20blacklisted%27%5D/a"/>
      <xpath id="2" name="imageContainer" string="//div%5B@class%3D%27content%27%5D/div/img%5B@id%3D%27image%27%5D"/>  
    </server>
  </hosts>-->
<!--
 Console.Title = "Batch image downloader";
            SiteData SiteData = new SiteData();
            SiteData.SITE_DOMAIN = "http://ichijou.org";
            SiteData.SITE_NAME = "Vectorbooru";
            SiteData.START_PAGE_INDEX = 1;
            SiteData.NUMBER_OF_THREADS = 3;
            SiteData.SEGMENTDEPTH_FOR_ID = 4;
            SiteData.USER_AGENT_STRING = "Mozilla/5.0 (Windows NT 5.1) AppleWebKit/536.5 (KHTML, like Gecko) Chrome/19.0.1084.56 Safari/536.5";
            SiteData.CHECKTAGS_STRING = "<img  class=\"preview    \"";
            SiteData.ACCESSPAGE_STRING = "/post?page=";
            SiteData.POSTTAGS_STRING = "&commit=Search&tags=";
            SiteData.PAGENUMBER_XPATH = "//div[@class='pagination']/a";
            SiteData.POSTLINKS_XPATH = "//span[@class='thumb blacklisted']/a";
            SiteData.IMAGECONTAINER_XPATH = "//div[@class='content']/div/img[@id='image']";
            SiteData.FILEPATH_JOINER = "";
            SiteData.DelayInConnections = false;
-->