<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<hosts>
    <server id="0" name="Vectorbooru" domain="http://ichijou.org" startPageIndex="1" numberOfThreads="3" segmentdepthForId="4" useragent="Mozilla/5.0 (Windows NT 5.1) AppleWebKit/536.5 (KHTML, like Gecko) Chrome/19.0.1084.56 Safari/536.5" checkTags="%3Cimg%20%20class%3D%5C%22preview%20%20%20%20%5C%22" accessPage="/post?page=" postTags="%26commit%3DSearch%26tags%3D" filepathJoiner="" delayInConnections="false">
      <xpath id="0" name="pageNumber" string="//div%5B@class%3D%27pagination%27%5D/a"/>
      <xpath id="1" name="postLinks" string="//span%5B@class%3D%27thumb%20blacklisted%27%5D/a"/>
      <xpath id="2" name="imageContainer" string="//div%5B@class%3D%27content%27%5D/div/img%5B@id%3D%27image%27%5D"/>  
    </server>
  </hosts>-->
  <appSettings>
    <add key="Vectorbooru" value="Vectorbooru.config"/>
  </appSettings>
</configuration>

